/* Every Calendar +1 Client Styling */
#ecp1_calendar, #ecp1_event {margin-bottom:1em;}
#ecp1_calendar .fc table {border-bottom:none;margin-bottom:0;}
#ecp1_calendar .fc-header td, #ecp1_calendar .fc-header th {border-top:none;}
#ecp1_event ul.ecp1_event-details {margin:0;}
#ecp1_event ul.ecp1_event-details li {list-style-type:none;}
#ecp1_event span.ecp1_event-title {vertical-align:top;width:90px;display:inline-block;}
#ecp1_event span.ecp1_event-text {vertical-align:top;display:inline-block;}
#ecp1_event span.ecp1_event-text_wide {vertical-align:top;display:block;padding-left:0.5em;}
#ecp1_event span#ecp1_feature {float:right;margin:0 0 10px 10px;}
/* Full Calendar Modifications */
.fc-event {cursor:pointer;}

/* Popups for Full Calendar */
.bubbleInfo {
	position: relative;
	top: 150px;
	left: 100px;
	width: 500px;
}
.trigger {
	position: absolute;
}

/* Bubble pop-up */
.popup {
	position: absolute;
	display: none;
	z-index: 50;
	border-collapse: collapse;
}

.popup td.corner {
	height: 15px;
	width: 19px;
}

.popup td#topleft { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-1.png); }
.popup td.top { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-2.png); }
.popup td#topright { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-3.png); }
.popup td.left { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-4.png); }
.popup td.right { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-5.png); }
.popup td#bottomleft { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-6.png); }
.popup td.bottom { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-7.png); text-align: center;}
.popup td.bottom img { display: block; margin: 0 auto; }
.popup td#bottomright { background-image: url(http://static.jqueryfordesigners.com/demo/images/coda/bubble-8.png); }

.popup table.popup-contents {
	font-size: 12px;
	line-height: 1.2em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

table.popup-contents th {
	text-align: right;
	text-transform: lowercase;
}

table.popup-contents td {
	text-align: left;
}
