/* Every Calendar +1 Admin Styling */
div.ecp1_meta input.ecp1_url {width:40%;}
div.ecp1_meta input.ecp1_w75 {width:72%;}
div.ecp1_meta input.ecp1_w100 {width:95%;}
div.ecp1_meta textarea.ecp1_sml {width:70%;height:25px;}
div.ecp1_meta textarea.ecp1_med {width:70%;height:50px;}
div.ecp1_meta textarea.ecp1_big {width:70%;height:100px;}
div.ecp1_meta div.postarea td {padding:0;margin-bottom:0;}
div.ecp1_meta div.postarea td.autosave-info {padding:2px 15px 2px 2px;}
div.ecp1_meta #editorcontainer td.mceIframeContainer {background-color:#ffffff;}
div.ecp1_meta #editorcontainer #ecp1_description {width:100%;}
div.ecp1_meta select.ecp1_select {width:30%;}
div.ecp1_meta select#ecp1_timezone option, div.ecp1_meta select#ecp1_timezone optgroup {padding:0.1em}
div.ecp1_meta select#ecp1_timezone optgroup option {padding:0.1em 1.8em;}
span.ecp1_checkbox_block {display:inline-block;width:30%;}
span.ecp1_floater_r {display:inline-block;width:40%;float:right;}
div.ecp1_meta table.form-table td, div.ecp1_meta table.form-table th {vertical-align:top;clear:both;}
div.ecp1_meta table.form-table th label {padding-top:5px;display:inline-block;}
div.ecp1_meta #ecp1_featured {margin-right:10px;}
div.ecp1_meta #ecp1-event-map {width:600px;height:300px;}
div.ecp1_meta div.mapmeta ul li span {display:inline-block;padding-left:50px;}
span#ecp1_marker_preview {padding:0 5px;display:inline-block;vertical-align:top;}
div.ecp1_meta a.ecp1_ex_rm {display:inline-block;vertical-align:top;padding-top:5px;color:#FF0000;cursor:pointer;}
div.ecp1_meta div.ecp1_ex_container {margin-bottom:10px;padding-bottom:10px;border-bottom:2px solid #666666;}
div.color_selector {display:inline-block;vertical-align:top;padding-top:5px;padding-right:1.5em;}
div.color_selector > span {vertical-align:top;}
div.color_selector > div {display:inline-block;position:relative;width:36px;height:36px;background:url(../colorpicker/images/select.png);}
div.color_selector > div > div {position:absolute;top:3px;left:3px;width:30px;height:30px;background:url(../colorpicker/images/select.png) center;}
span.ecp1_ical_q {display:inline-block;width:100px;}
div.ecp1_meta .ecp1submeta {padding-bottom:1em;}
.ecp1subsettings strong {display:block;margin-top:10px;cursor:pointer;}
.ecp1subsettings div:first-child strong {margin-top:0;}
.ecp1subsettings textarea {width:100%;}
.ecp1subsettings .expandtarget {display:none;}
