/* Every Calendar +1 Admin Styling */
div.ecp1_meta input.ecp1_url {width:70%;}
div.ecp1_meta input.ecp1_w100 {width:95%;}
div.ecp1_meta textarea.ecp1_sml {width:70%;height:25px;}
div.ecp1_meta textarea.ecp1_med {width:70%;height:50px;}
div.ecp1_meta textarea.ecp1_big {width:70%;height:100px;}
div.ecp1_meta div.postarea td {padding:0;margin-bottom:0;}
div.ecp1_meta div.postarea td.autosave-info {padding:2px 15px 2px 2px;}
div.ecp1_meta #editorcontainer td.mceIframeContainer {background-color:#ffffff;}
div.ecp1_meta #editorcontainer #ecp1_description {width:100%;}
div.ecp1_meta select.ecp1_select {width:30%;}
div.ecp1_meta select#ecp1_timezone option, div.ecp1_meta select#ecp1_timezone optgroup {padding:0.1em}
div.ecp1_meta select#ecp1_timezone optgroup option {padding:0.1em 1.8em;}
span.ecp1_checkbox_block {display:inline-block;width:30%;}
span.ecp1_floater_r {display:inline-block;width:40%;float:right;}
div.ecp1_meta table.form-table td, div.ecp1_meta table.form-table th {vertical-align:top;clear:both;}
div.ecp1_meta table.form-table th label {padding-top:5px;display:inline-block;}
div.ecp1_meta #ecp1_featured {margin-right:10px;}
