/* Every Calendar +1 Client Styling */
#ecp1_calendar, #ecp1_event {margin-bottom:1em;}
#ecp1_calendar .fc table {border-bottom:none;margin-bottom:0;}
#ecp1_calendar .fc-header td, #ecp1_calendar .fc-header th {border-top:none;}
#ecp1_event ul.ecp1_event-details {margin:0;}
#ecp1_event ul.ecp1_event-details li {list-style-type:none;}
#ecp1_event span.ecp1_event-title {vertical-align:top;width:90px;display:inline-block;}
#ecp1_event span.ecp1_event-text {vertical-align:top;display:inline-block;}
#ecp1_event span.ecp1_event-text_wide {vertical-align:top;display:block;padding-left:0.5em;}
#ecp1_event span#ecp1_feature {float:right;margin:0 0 10px 10px;}
/* Full Calendar Modifications */
.fc-event {cursor:pointer;}

/* Popups for Full Calendar */
div.ecp1-popup {
	font-size: 12px;
	line-height: 1.2em;
	background-color: #fff;
	color: #666;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
	width:300px;
	padding:0.5em;
	border:2px solid #999;
	padding:1em;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-opera-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:8px;
	box-shadow:rgba(0,0,0,0.5) 10px 10px 24px; border-radius:12px;
	position:absolute;
	display:none;
	z-index:999999;
	cursor:auto;
}
div.ecp1-popup-show {
	display:block;
}
div.ecp1-popup div.pfloater {float:left;}
div.ecp1-popup span.clear {clear:both;}
div.ecp1-popup a:hover {text-decoration:underline;}

