# Ignore Mac OS X finder / resources
.DS_Store
.swp
__MACOSX/

# Ignore the Windows Thumbs.db
Thumbs.db

# Ignore vim .swp files
.swp

# TextMate files can be ignored too
._

# Don't check in ba(c)k(up) files
.bak
.old

# Test scripts for debugging
test.php
