# Ignore Mac OS X finder / resources
.DS_Store
.swp
__MACOSX/

# Ignore the WordPress svn repository
.svn/

# Ignore the Windows Thumbs.db
Thumbs.db

# TextMate and Vim files can be ignored too
._
*.swp

# Don't check in ba(c)k(up) files
.bak
.old

# Test scripts for debugging
test.php
